body {
  margin: 0;
  padding: 0;
  background: #0d0d0d;
  font-family: Arial, sans-serif;
  color: #ddd;
}

header {
  text-align: center;
  padding: 40px 0;
  background: #111;
  box-shadow: 0 0 20px #000;
}

h1 {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #9f4fed;
}

.sub {
  font-size: 1.1rem;
  color: #aaa;
  margin-top: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 40px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  color: #eee;
  box-shadow: 0 0 15px #0007;
  transition: 0.25s;
  border-left: 6px solid transparent;
  cursor: pointer;
}



.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px #000a;
}

/* Temas */
.violepoems { border-color: #b347e6; }
.psico { border-color: #4fc3f7; }
.psicos { border-color: #005279; }
.tech { border-color: #00ff99; }
.med { border-color: #ff4d4d; }
.music { border-color: #f7d14f; }
.musics { border-color: #91908d; }


.title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.desc {
  font-size: 0.95rem;
  opacity: 0.8;}